h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}


h2{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
}


h3{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

#title{
    background-color: #ff4c68;
}


.container{
    padding-inline: 0;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 1.2rem;
}

.btn{
    font-family: 'Montserrat', sans-serif;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 20%;
    position: absolute;
}

.rotated {
    transform: rotate(25deg); /* Equal to rotateZ(45deg) */
}

@media (max-width: 1028px){
    .title-image{
        position: static;
        width: 60%;
    }
    .rotated{
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}


/* SEÇÃO DAS FEATURES */

#features{
    text-align: center;
    padding: 7% 15%;
    position: relative;
    background-color: white;
    z-index: 1;
}



.features-description{
    color: #8f8f8f;
    padding-inline: 20%;
}

.change-color:hover{
    color: #ff4c68;
}

/* TESTEMONIALS */

#testimonials{
    background-color: #ef8172;
    text-align: center;
    
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* PRICE */

#pricing{
    padding: 100px;
    text-align: center;
}

.race{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    line-height: 1.5;
}

.pricing-column{
    padding: 3% 2%;
}

/* CTA */

#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}

.titlelast{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
    padding-inline: 15%;
}

#footer{
    text-align: center;
    background-color: #fff;
    margin-bottom: 5%;
}

.iconers{
    width: 1%;
    margin: 5% 10px 10px 10px;
}